{{ template "chart.header" . }}

{{ template "chart.description" . }}

## Getting started

Find the latests documentation at the [docs.nobl9.com](https://docs.nobl9.com/Nobl9_Agent/helm-charts?_highlight=helm#helm-chart-configuration)

## Required values

* `config.clientId` - the individual Nobl9 client identificator
* `config.clientSecret` - the individual Nobl9 client secret
* data source dependent variables - some of data sources requires additional variables to work with Nobl9 Agent, for example Splunk requires `splunk_observability_access_token`

{{ template "chart.maintainersSection" . }}

{{ template "chart.valuesSection" . }}
